.cart-container {
  display: flex;
  justify-content: space-between;
  width: 1100px;
  margin: 0 auto;
}

.cart-products-container {
  display: flex;
  flex-direction: column;
  width: 700px;
  height: 100%;
  padding: 20px;
  margin: 0 auto;
  background-color: #eff6f1;
  border-radius: 4px;
}

.cart-products-title {
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  display: grid;
  grid-template-columns: repeat(5, 1fr) 110px;
  margin-bottom: 10px;
}

.cart-products-title div {
  text-align: center;
  font-weight: 700;
  margin: 0 auto;
  text-align: start;
  padding-left: 10px;
}

.title-column {
  text-align: start;
  padding-left: 10px;
}

.cart-product-item {
  text-align: start;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  display: grid;
  grid-template-columns: repeat(5, 1fr) fit-content(60px);
}

.cart-product-name,
.cart-product-price,
.cart-product-price_total {
  text-align: start;
  margin-left: 15px;
}

.cart-product-quantity {
  display: flex;
  gap: 8px;
}

.prod-quantity_minus {
  width: 20px;
  height: 20px;
  background: url('../../assets/svg/minus.svg') no-repeat center;
  background-size: 90%;
  filter: brightness(0) invert(0.5);
  transform: 0.4s;
}

.prod-quantity_plus {
  width: 20px;
  height: 20px;
  background: url('../../assets/svg/plus.svg') no-repeat center;
  background-size: 90%;
  filter: brightness(0) invert(0.5);
  transform: 0.4s;
}

.prod-quantity_minus:hover,
.prod-quantity_plus:hover {
  cursor: pointer;
  filter: brightness(0) invert(0);
}

.cart-product-item:last-child {
  border-bottom: none;
}

.cart-product-image {
  width: 100px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 4px;
}

.cart-product-quantity {
  margin: 0 auto;
}

.cart-product-remove.btn--blue {
  display: inline-block;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  text-align: center;
  padding: 4px 12px;
  line-height: 25px;
}

.cart-product-remove.btn--blue::after {
  display: none;
}

.cart-total-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 200px;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: #eff6f1;
  border-radius: 4px;
}

.cart-subtotal-price {
  display: flex;
  justify-content: space-between;
}

.cart-total-price {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 1.15rem;
}

.cart-total-title {
  font-weight: 700;
  text-transform: uppercase;
}

.cart-discount-container {
  display: flex;
  gap: 3px;
}

.cart-discount-input {
  width: 80%;
  border: 1px solid #8fa8a8;
  border-radius: 4px;
  font-size: 14px;
  line-height: 25px;
  padding: 0 6px;
}

.cart-discount-btn.btn--yellow {
  display: inline-block;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  text-align: center;
  padding: 3px 6px;
  line-height: 25px;
}

.cart-discount-btn.btn--yellow::after {
  display: none;
}
