.catalog-container {
  max-width: 1920px;
}

.catalog-container.item-page {
  display: flex;
  flex-direction: column;
}

.catalog-card-container {
  display: grid;
  gap: 1vw;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 2vw;
  justify-items: center;
  justify-content: center;
}

.catalog-controls {
  display: flex;
  gap: 1vw;
  padding: 2vw;
}

.catalog-category-select,
.catalog-search-input {
  box-sizing: border-box;
  width: 20vw;
  height: 3vw;
  border: 1px solid #7eb693;
  border-radius: 12px;
  margin-bottom: 0.8em;
  padding: 2px 20px;
  font-size: 16px;
  font-style: italic;
  font-weight: 300;
  background-color: #f9f8f8;
}

.catalog-controls-search-group {
  display: flex;
}

.catalog-controls-sort-group {
  display: flex;
}

.catalog-search-button {
  width: 3vw;
  height: 3vw;
  border: 1px solid transparent;
  border-radius: 12px;
  background: transparent
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
    no-repeat center;
  transform: translateX(-3vw);
}

.catalog-sort-button {
  cursor: pointer;
  width: 3vw;
  height: 3vw;
  border: 1px solid #7eb693;
  border-radius: 12px;
  background-color: #f9f8f8;
  transform: translateX(-3vw);
}

.abc {
  background: url('../../assets/images/icons/sortalphabetically_80942.svg')
    no-repeat center;
  background-size: 90%;
}

.price {
  background: url('../../assets/images/icons/price-sort.svg') no-repeat center;
  background-size: 90%;
}

.catalog-sort-arrow {
  width: 3vw;
  height: 3vw;
  transform: translateX(-3vw);
}

.decrease {
  background: url('../../assets/images/icons/down-arrow.svg') no-repeat center;
  background-size: 90%;
}

.increase {
  background: url('../../assets/images/icons/up_arrow.svg') no-repeat center;
  background-size: 90%;
}

.card-item-link {
  text-decoration: none;
  display: flex;
  width: 335px;
  height: 483px;
  flex-direction: column;
  background-color: #f9f8f8;
  border-radius: 30px;
  padding: 2vw 2vw;
}

.catalog-card-category-button {
  border: none;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.25rem;
  padding: 5px 12px;
  color: #fff;
  background-color: #274c5b;
  border-radius: 8px;
  align-self: baseline;
}

.catalog-card-image {
  width: 100%;
  height: 350px;
}

.catalog-card-price-container {
  display: flex;
  align-items: center;
  gap: 1vw;
  padding-top: 10px;
  border-top: 1px solid #d4d4d4;
}

.catalog-card-price,
.catalog-catd-title {
  color: #274c5b;
  font-weight: 700;
  font-size: 1.25rem;
}

.catalog-card-price.full {
  text-decoration: line-through;
  color: #9da19e;
}

.catalog-card-discount-icon {
  width: 3vw;
  height: 3vw;
  background: url('../../assets/images/icons/discount-icon.svg') no-repeat
    center;
  background-size: 90%;
}

.item-page-image-container {
  display: flex;
}

.item-page-image {
  width: 30vw;
}

.item-page-description {
  display: flex;
  flex-direction: column;
}

@media (hover: hover) {
  .card-item-link:hover,
  .catalog-sort-button:hover {
    background-color: #f0efea;
    transition: 0.3s;
  }
}

@media only screen and (max-width: 1600px) {
  .catalog-card-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 1200px) {
  .catalog-card-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 900px) {
  .catalog-category-select,
  .catalog-search-input {
    height: 4vw;
    width: 30vw;
  }

  .catalog-search-button {
    height: 4vw;
    width: 4vw;
    transform: translateX(-5vw);
  }

  .catalog-sort-button {
    height: 4vw;
    width: 4vw;
  }

  .catalog-sort-arrow {
    height: 4vw;
    width: 4vw;
  }

  .catalog-card-discount-icon {
    width: 4vw;
    height: 4vw;
  }
}

@media only screen and (max-width: 800px) {
  .catalog-category-select,
  .catalog-search-input {
    border-radius: 5px;
    height: 5vw;
    width: 40vw;
  }

  .catalog-search-button {
    height: 5vw;
  }

  .catalog-sort-button {
    height: 5vw;
    width: 5vw;
  }

  .catalog-sort-arrow {
    height: 5vw;
    width: 5vw;
  }
}

@media only screen and (max-width: 750px) {
  .catalog-card-container {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 500px) {
  .catalog-controls {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }

  .catalog-category-select,
  .catalog-search-input {
    border-radius: 5px;
    height: 6vw;
    width: 40vw;
  }

  .catalog-search-button {
    height: 6vw;
  }

  .catalog-sort-button {
    height: 6vw;
    width: 6vw;
    transform: translateX(0);
  }

  .catalog-sort-arrow {
    height: 6vw;
    width: 6vw;
    transform: translateX(0);
  }

  .catalog-card-discount-icon {
    width: 5vw;
    height: 5vw;
  }
}
