$blue: #274c5b;
$green: #7eb693;
$yellow: #efd372;
$gray: #d4d4d4;
$dark-gray: #525c60;
$light-gray: #eff6f1;
$bg-dark: #f9f8f8;

@mixin title {
  margin: 0;

  color: $blue;
  font-weight: 800;
}

@mixin bold-text {
  color: $blue;
  font-weight: 700;
  font-size: 1.25rem;
}

body {
  max-width: 1920px;
  margin: auto;

  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 4.375rem;
}

h3 {
  font-size: 2.5rem;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
  color: currentColor;

  transition: 0.3s;
}

.btn {
  @include bold-text;
  display: flex;
  align-items: center;

  box-sizing: border-box;
  padding: 1.75rem 2.5rem;

  line-height: 1.25rem;

  border: none;
  border-radius: 16px;

  &--yellow {
    background-color: $yellow;
  }

  &--blue {
    background-color: $blue;
  }

  &::after {
    content: url('./assets/images/icons/arrow-to-right.svg');
    margin-left: 0.5rem;
    width: 19px;
    height: 19px;
  }
}

.header {
  height: 54px;
  margin: 4rem 10rem;
  display: flex;
  justify-content: space-between;
}

.link:hover {
  color: $green;
}

.nav,
.profile_container,
.logo,
.profile_container-link--cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.nav,
.profile_container {
  gap: 2rem;
  height: auto;
}

.logo-text {
  @include title;
  font-size: 2rem;
}

.nav-link {
  @include bold-text;
}

.hero {
  background-color: $bg-dark;

  &--main_page {
    padding: 15.25rem 16.25rem;
    background:
      url('./assets/images/background-patterns.png') no-repeat,
      url('./assets/images/background-img.png') no-repeat;
  }

  &-content_wrapper {
    max-width: 530px;
  }

  &-title {
    @include title;

    margin-bottom: 1.5rem;
  }
}

.subtitle {
  margin: 0;

  font-family: 'Yellowtail';
  font-style: italic;
  font-size: 2.25rem;

  &--green {
    color: $green;
  }

  &--white {
    color: #fff;
  }
}

.offer {
  max-width: 1440px;
  margin: 150px auto;

  display: flex;
  justify-content: space-between;

  &-banner {
    padding: 110px 350px 110px 55px;

    border-radius: 30px;

    &--first {
      background: url('./assets/images/banner1.png') no-repeat;
    }

    &--second {
      background: url('./assets/images/banner2.png') no-repeat;
    }
  }

  &-content_wrapper {
    width: 277px;
  }

  &-title {
    @include title;

    &--white {
      color: #fff;
    }
  }
}
